[submodule "taco"]
	path = taco
	url = https://github.com/colindith/taco.git
[submodule "kumo"]
	path = kumo
	url = https://github.com/colindith/kumo.git
[submodule "keplan"]
	path = keplan
	url = https://github.com/colindith/keplan.git
